<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/provider/style.css" />
  <title>Homepage</title>
</head>

<body>
  <div class=" container-fluid">
    <div class="row vh-100">
      <div class="main-left col-2">

        <!-- ? LEFT SIDE -->
        <div class="left container-fluid">
          <div class="profile m-2 my-4 rounded-4 d-flex flex-column 2x-4 py-3">
            <img class="m-auto" src="/static/assets/profile.png" alt="profile-pic" />
            <div class="container d-flex align-items-center">
              <p class="m-auto lead">{{request.user.first_name}} {{request.user.last_name}}</p>
              <a href="#">
                <img class="icons" src="/static/assets/edit.png" alt="edit" />
              </a>
            </div>
          </div>
          <div class="main-wrapper d-flex flex-column justify-content-between bg-y">
            <div class="container-wrapper">
              <div class="container my-5">
                <img src="/static/assets/home.png" alt="icons" class="icons" />
                <a class="text-decoration-none text-dark fs-5" href="/">Home</a>
              </div>
              <div class="container my-5">
                <img src="/static/assets/Invoice.png" alt="icons" class="icons" />
                <a class="text-decoration-none text-secondary fs-5" href="/parking/details">Parking Details</a>
              </div>
              <div class="container my-5">
                <img src="/static/assets/white_edit.png" alt="icons" class="icons" />
                <a class="text-decoration-none text-secondary fs-5" href="#">Payment</a>
              </div>
              <div class="container my-5">
                <img src="/static/assets/Settings.png" alt="icons" class="icons" />
                <a class="text-decoration-none text-secondary fs-5" href="#">Settings</a>
              </div>
            </div>

            <div class="container">
              <img src="/static/assets/logout.png" alt="icons" class="icons" />
              <a class="text-decoration-none text-secondary fs-5" href="/account/logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
      <!-- ? LEFT END-->

      <div class="col-9 container px-4 py-5">

        <!-- ? Title -->
        <div class="">
          <p class="lead para">Hey {{request.user.first_name}},</p>
          <h2 class="h2 display-5">Good Morning</h2>
        </div>

        <!--? Current Request  -->
        {% if rpp %}
        <div class="">
          <h3 class="mt-4 h3 display-8">Current Request</h3>
          <div class="req-wrapper d-flex">

            {% for rp in rpp %}
            <div class="req-box rounded-4 p-3">
              <div class="title d-flex">
                <img src="/static/assets/profile.png" alt="">
                <p>{{rp.user.first_name}} {{rp.user.last_name}}</p>
              </div>
              <p class="m-0"><b>Vehicle Number: </b>{{rp.vehicle_no}}</p>
              <p class="m-0"><b>Vehicle Type: </b>{{rp.vehicle_type}}</p>
              <p class="m-0"><b>Starting Time: </b>{{rp.start_time.time}}</p>
              <p class="m-0"><b>Duration: </b>{{rp.approx_duration}} hours</p>
              <div class="btn-grp d-flex justify-content-between">
                <form action="/parking/booked_slot/{{rp.id}}/accepted" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn-s rounded-5">
                    Accept
                  </button>
                </form>
                <br>
                <form action="/parking/booked_slot/{{rp.id}}/rejected" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn-d rounded-5">
                    Reject
                  </button>
                </form>
              </div>
            </div>
            {% endfor %}

            <!-- <div class="req-box rounded-4 p-3">
              <div class="title d-flex">
                <img src="/static/assets/profile.png" alt="">
                <p>Jenna Starke</p>
              </div>
              <p class="m-0"><b>Vehicle Number: </b>MH 08 DSK 1902</p>
              <p class="m-0"><b>Vehicle Type: </b>Two-Wheeler</p>
              <p class="m-0"><b>Starting Time </b>01:00 PM</p>
              <p class="m-0"><b>Duration </b>02 hours</p>
              <div class="btn-grp">
                <button class="btn-s rounded-5">
                  Accept
                </button>
                <button class="btn-d rounded-5">
                  Reject
                </button>
              </div>
            </div> -->



          </div>
        </div>
        {% endif %}

        <!-- Busy Parking Slots  -->
        <div class="">
          <h3 class="mt-4 h3 display-8">Busy Parking Slots</h3>
          <div class="req-wrapper d-flex">

            {% for p in pp %}
            <div class="req-box rounded-4 p-3">

              <div class="mb-1 header d-flex justify-content-between">
                <p>{{p.parking_place.title}}</p>
                <img class="icons" src="/static/assets/threedots.png" alt="">
              </div>

              <div class="content-wrapper d-flex justify-content-between  align-items-center px-4 py-2 ">
                <div class="title busy d-flex flex-column justify-content-center align-items-center">
                  <img src="/static/assets/profile.png" alt="">
                  <p>{{p.user.first_name}} {{p.user.last_name}}</p>
                  <!-- <div class="msg-grp">
                    <img class="icons" src="Phone.png" alt="">
                    <img class="icons" src="msg.png" alt="">
                  </div> -->
                </div>
                <div class="body ml-4">
                  <p class="m-0"><b>Vehicle Number: </b></p>
                  <p class="m-0">{{p.vehicle_no}}</p>
                  <p class="m-0"><b>Entry Time: </b></p>
                  <p class="m-0">{{p.start_time.date}}</p>
                  <p class="m-0">{{p.start_time.time}} - ongoing</p>
                </div>
              </div>
            </div>
            {% endfor %}

            <!-- <div class="req-box rounded-4 p-3">

              <div class="mb-1 header d-flex justify-content-between">
                <p>Parking Slot: 02</p>
                <img class="icons" src="/static/assets/threedots.png" alt="">
              </div>

              <div class="content-wrapper d-flex justify-content-between  align-items-center px-4 py-2 ">
                <div class="title busy d-flex flex-column">
                  <img src="/static/assets/profile.png" alt="">
                  <p>Jenna Starke</p>
                </div>
                <div class="body ml-4">
                  <p class="m-0"><b>Vehicle Number: </b></p>
                  <p class="m-0">MH 08 DSK 1902</p>
                  <p class="m-0"><b>Entry Time: </b></p>
                  <p class="m-0">10-03-2023</p>
                  <p class="m-0">01:07 - ongoing</p>
                </div>
              </div>
            </div> -->

          </div>
        </div>

        {% if app %}
        <div class="">
          <h3 class="mt-4 h3 display-8">Accepted Request</h3>
          <div class="req-wrapper d-flex">

            {% for ap in app %}
            <div class="req-box rounded-4 p-3">
              <div class="title d-flex">
                <img src="/static/assets/profile.png" alt="">
                <p>{{ap.user.first_name}} {{ap.user.last_name}}</p>
              </div>
              <p class="m-0"><b>Vehicle Number: </b>{{ap.vehicle_no}}</p>
              <p class="m-0"><b>Vehicle Type: </b>{{ap.vehicle_type}}</p>
              <p class="m-0"><b>Starting Time: </b>{{ap.start_time.time}}</p>
              <p class="m-0"><b>Duration: </b>{{ap.approx_duration}} hours</p>
              <div class="btn-grp d-flex justify-content-between">
                <form action="/parking/accepted_slot/{{ap.id}}/verify" method="POST">
                  {% csrf_token %}
                  <input type="text" class="btn-s rounded-5" id="verify_otp" name="verify_otp" placeholder="Verify OTP">
                  <button type="submit" class="btn-s rounded-5">
                    Verify
                  </button>
                </form>

              </div>
            </div>
            {% endfor %}

          </div>
        </div>
        {% endif %}

      </div>
    </div>

  </div>
  <!-- </div>
  </div> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script src="/static/provider/script.js"></script>

</body>

</html>