.main-left {
    background: #ECE9E9;
}

.btn-gray {
    background: #D9D9D9 !important;
    height: 45px;
}

.custom-m {
    margin: 0;
    margin-top: 75px;
}
.left {
    background: #ECE9E9;
}
.profile {
    background: #D9D9D9;

}
.profile > img {
    height: 80px !important;
    width: 80px !important;
}

.icons {
    height: 20px;
    width: 20px;
    margin-left: 5px
}

.container > .icons {
    margin-right: 20px;
}

.custom-img {
    height: 40px !important;
    width: 40px !important;
}

.container > a {
    vertical-align: middle;
}

.main-wrapper{
    height: 70VH
}

.para {
    margin: 0;
    margin-left: 4px;
    font-weight: 400 !important;
}

.h2{
    font-weight: 400 !important;
    font-size: 39px !important;
}

.h3{
    font-weight: 400 !important;
    font-size: 25px !important;
}

/* REQUESTS  */

.req-box {
    background: #D9D9D9;
    margin-right: 20px;
}

.title > img {
    height: 35px;
    width: 35px;
    margin-right: 5px;
}
.busy > img {
    height: 75px;
    width: 75px;
    margin-right: 5px;
}

.req-box > p {
    line-spacing: 2px;
}

.btn-s, .btn-d {
    margin-top: 10px;
    padding: 8px 30px !important;
}

.btn-s{
    background: #6DBB75 !important;
    border: 1px solid #2C8F0A;
}

.btn-d {
    border: 1px solid #8F0A0A;
    background: #BB726D;
}

.body {
    margin-left: 75px;
}

.slot {
    width: 100%;
    background: #D9D9D9;
}
.add-img {
    width: 196px;
    height: 119px;
    border: 1px solid black;
}

.add-img > p{
    font-weight: 500!important;
}

.add-img > img{
    height: 42px;
    width: 42px;
}
.input-box {
    background: #D9D9D9 !important;
}
@media only screen and (max-width: 1525px) {
    .col-2 {
    width: 20% !important;
  }
  .col-10 {
    width: 70% !important;
  }
}
@media only screen and (max-width: 900px) {
  .col-2 {
    width: 100% !important;
    height: 100%;
  }

  .imgs {
    flex-direction: column;
  }
}




.custom-h {
    height: 50% !important;
}
/* TOGGLE
 */

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: gray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}