<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/user/style.css" />
    <title>Parking Space Details</title>
</head>

<body>

    <div class=" container-fluid">
        <div class="row vh-100">
            <div class="main-left col-2">
                <!-- ? LEFT SIDE -->
                <div class="left container-fluid">
                    <div class="profile m-2 my-4 rounded-4 d-flex flex-column px-4 py-3">
                        <img class="m-auto" src="/static/assets/profile.png" alt="profile-pic" />
                        <div class="container d-flex align-items-center">
                            <p class="m-auto lead">{{request.user.first_name}} {{request.user.last_name}}</p>
                            <a href="#">
                                <img class="icons" src="/static/assets/Edit.png" alt="edit" />
                            </a>
                        </div>
                    </div>
                    <div class="main-wrapper d-flex flex-column justify-content-between bg-y">
                        <div class="container-wrapper">
                            <div class="container my-5">
                                <img src="/static/assets/home_light.png" alt="icons" class="icons" />
                                <a class="text-decoration-none text-secondary fs-5" href="#">Home</a>
                            </div>
                            <div class="container my-5">
                                <img src="/static/assets/edit.png" alt="icons" class="icons" />
                                <a class="text-decoration-none text-dark fs-5" href="#">Parking Details</a>
                            </div>
                            <div class="container my-5">
                                <img src="/static/assets/white_edit.png" alt="icons" class="icons" />
                                <a class="text-decoration-none text-secondary fs-5" href="#">Payment</a>
                            </div>
                            <div class="container my-5">
                                <img src="/static/assets/Settings.png" alt="icons" class="icons" />
                                <a class="text-decoration-none text-secondary fs-5" href="#">Settings</a>
                            </div>
                        </div>

                        <div class="container">
                            <img src="/static/assets/logout.png" alt="icons" class="icons" />
                            <a class="text-decoration-none text-secondary fs-5" href="#">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ? LEFT END-->

            <div class="col-10 container px-4 py-5">

                <!-- ? Title -->
                <div class=" container-fluid">
                    <div class="row custom-h">



                        <form action="/parking/get_parking/filter" method="POST" class=" w-80 row g-3">
                            
                            {% csrf_token %}

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" id="state" name="state" class="form-control input-box" />
                                    <label class="form-label">Enter State </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" id="city" name="city" class="form-control input-box" />
                                    <label class="form-label">Enter City</label>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" id="vt" name="vt" class="form-control input-box" />
                                    <label class="form-label">Enter Vehicle type</label>
                                </div>
                            </div> -->
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" id="street" name="street" class="form-control input-box" />
                                    <label class="form-label">Search street</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" id="signup_proceed_btn" class="btn btn-dark px-4 py-3 custom-btn">
                                    Search
                                </button>
                            </div>
                        </form>

                        <div class="mt-5">
                            <h3 class=" display-7">Recommended Slot</h3>
                        </div>

                        <main>
                            {% for p in pp %}
                            <div class="slot rounded-4 p-4 mt-2">
                                <div class="mb-3">
                                    <div class="leftside d-flex align-items-center">
                                        <img class="custom-img mb-1" src="/static/assets/profile.png" alt="edit" />
                                        <p class="mx-2">{{p.provider.first_name}} {{p.provider.last_name}}</p>
                                    </div>
                                </div>
                                <div class="imgs d-flex align-items-center mt-2">
                                    
                                    {% for img in p.place_images %}
                                    <img class="m-1 rounded" src="{{img}}" height="120px" width="200px" alt="parking space 1">
                                    {% endfor %}
                                    <!-- <img class="m-1" src="/static/assets/parking_space2.png" alt="parking space 1">
                                    <img class="m-1" src="/static/assets/parking_space2.png" alt="parking space 1"> -->
                                    
                                    <div class="content m-5">
                                        <p class="p-0 m-0"><b>Address: </b></p>
                                        <p class="p-0">
                                            {{p.address_line_1}},
                                            {{p.address_line_2}},
                                            {{p.city}},
                                            {{p.state}}, 
                                            {{p.pincode}}.
                                        </p>
                                    </div>
                                </div>
                                <div class="bottom d-flex justify-content-between">
                                    <div class="lefti d-flex align-items-center">
                                        <img src="/static/assets/Rupee.png" alt="" class="icons mb-3">
                                        <p class="lead"><b>{{p.rate_per_hr}} Per Hour</b></p>
                                    </div>

                                    <div class="right">
                                        <a href="/parking/book_slot/{{p.id}}">
                                            <button class="btn btn-dark rounded-3xl">Book Now</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            <!-- <div class="slot rounded-4 p-4 mt-2">
                                <div class="mb-3">
                                    <div class="leftside d-flex align-items-center">
                                        <img class="custom-img mb-1" src="/static/assets/profile.png" alt="edit" />
                                        <p class="mx-2">John Grave</p>
                                    </div>
                                </div>
                                <div class="imgs d-flex align-items-center mt-2">
                                    <img class="m-1" src="/static/assets/parking_space1.png" alt="parking space 1">
                                    <img class="m-1" src="/static/assets/parking_space2.png" alt="parking space 1">
                                    <img class="m-1" src="/static/assets/parking_space2.png" alt="parking space 1">
                                    <div class="content m-5">
                                        <p class="p-0 m-0"><b>Address: </b></p>
                                        <p class="p-0">Street, 209, 50th Cross Rd, 3 Block, Rajajinagar Bangalore,
                                            Karnataka, 53080
                                        </p>
                                    </div>
                                </div>
                                <div class="bottom d-flex justify-content-between">
                                    <div class="lefti d-flex align-items-center">
                                        <img src="/static/assets/Rupee.png" alt="" class="icons mb-3">
                                        <p class="lead">100/hr</p>
                                    </div>
                                    <div class="right">
                                        <button class="btn btn-dark rounded-3xl">Book Now</button>
                                    </div>
                                </div>
                            </div>
                             -->
                        </main>
                    </div>
                </div>

            </div>
        </div>

    </div>
    </div>

    </div>
    </div>
    </div>




    </div>
    </div>

    </div>
    </div>
    </div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="/static/user/script.js"></script>
</body>

</html>