<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/login_register/style.css" />
  <title>Sign Up</title>
</head>

<body class="d-flex align-items-center">


  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <main class="d-flex">
            <h5 class="text-dark mx-3 p-3 my-auto">Password reset link sent successfully !</h5>
            <button type="button" class="btn-close" onclick="$('#myModal').hide()" data-bs-dismiss="modal"></button>
          </main>
        </div>
      </div>
    </div>
  </div>



  <div class="container-fluid d-flex justify-content-center">

    <form class="w-50 row g-3">
      <h2 class="display-7 head-color">Reset your password</h2>
      <p class="para mt-0">Want to try one more time ?<a href="/account/login"
          class="text-decoration-none utility-color fw-bold"> Sign In</a></p>
      <div class="col-md12">
        <div class="form-floating">
          <input type="email" id="email" name="email" class="form-control input-box" />
          <small id="emailHelp" class="text-danger">
            Enter Valid Email
          </small>
          <label for="emailID" class="form-label">Email ID</label>
        </div>
      </div>

      <button type="button" id="forgot_password_proceed_btn" class="btn btn-primary px-4 py-3 custom-btn">
        Reset Password
      </button>



    </form>






  </div>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script src="/static/login_register/script.js"></script>
</body>

</html>